@tailwind base;
@tailwind components;
@tailwind utilities;

/* #264653
#F8D9A2
#F4A261 */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fcfaf8;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e5dfdc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #264653;
}
